@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap"); */
@font-face {
    font-family: "Bangers";
    src: url(/public/bangers.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.bangers {
    font-family: "Bangers", var(--font-geist-sans), sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #18405a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.scroller {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.scroller .scroll__inner {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.scroller .scroll__inner .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(
        (10s / var(--quantity)) * (var(--position) - 1) - 10s
    ) !important;
}

.scroller .scroll__inner .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

.scroller:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.scroller .item:hover {
    filter: grayscale(0);
}

.scroller[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }
    to {
        left: 100%;
    }
}

.coming-soon {
    opacity: 0.5; /* Make the image semi-transparent */
    filter: grayscale(100%); /* Optionally apply grayscale filter */
}
.coming-soon + .coming-soon-label {
    display: block;
}
.coming-soon-label {
    position: absolute;
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Adjust for exact centering */

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.hide-punchline {
    opacity: 0;
    transform: translateY(10px);
    animation: popUp 1s ease-in forwards;
    animation-delay: 1s;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
